
.Radovi h1 {
    line-height: 0.8;
    position: absolute;
    left: 415px;
    top: 2690px;
    z-index: 93;
}

.Images {
    display: flex;
    padding: 20px;
    position: absolute;
    top: 2823px;
    left: 385px;
}

 .Images img {
    width: 270px;
    padding: 10px;
}