.Services {
    background-image: url("../../../assets/images/service1.png");
    position: absolute;
    left: 415px;
    top: 1860px;
    width: 1139px;
    height: 836px;
    z-index: 60;
    display: flex;
    padding: 0px;
}

@media(max-width:520px) {
    .Services {
        position: absolute;
        left: 10px;
        top: 1000px;
        width: 1084px;
        height: 836px;
        z-index: 60;
        display: flex;
        padding: 0px;
        overflow: hidden;
    }
}

.Left {
    width: 555px;
    margin: 50px;
}

.Left h2 {
    font-family: "Sarabun";
    color: rgb(116, 144, 59);
}

.Left li {
    list-style-type: none;
    list-style-image: url('../../../assets/images/image.png');
    font-weight: bold;
}

.Left p {
    font-family: "Sarabun";
    color: gray;
}

.Right ul {
    margin-top: 200px;
    margin-left: 100px;
}

.Right li {
    list-style-type: none;
    padding-bottom: 150px;
}

