
.Footer {
    background-image: url("../../../assets/images/footermain.png");
    position: absolute;
    left: -52px;
    top: 2985px;
    width: 2227px;
    height: 1342px;
    z-index: 120;
}

.Form {
    position: absolute;
    left: 900px;
    top: 710px;
    color: white;
    font-size: 28px;
    font-family: "Sarabun";
}

input {
    margin-right: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

textarea {
    width: 630px;
    height: 160px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 20px;
    font-size: 16px;
    color: gray;
}

button {
    width: 305px;
    height: 57px;
    background-color: rgb(116, 144, 59);
    color: white;
    float: right;
    font-size: 16px;
    margin-right: 20px;
    border-radius: 10px;
    border: 1px solid rgb(116, 144, 59);
}

.Info {
    width: 308px;
    position: absolute;
    left: 400px;
    top: 670px; 
    color: white;
    font-family: "Sarabun";
    padding: 10px;
    z-index: 129;
}
.Info h1 {
    font-size: 48px;
    font-weight: bold;
    line-height: 2.5;
    
}

.Meta {
    font-size: 24px;
    line-height: 1;
}
