
.Footer {
    background-image: url("../../../assets/images/interior-of-the-lobby-PQSCE4A.png");
    position: absolute;
    left: 0px;
    top: 3451px;
    width: 1970px;
    height: 876px;
    z-index: 96;
}

.Ruler01 {
    background-image: url("../../../assets/images/ruler_01.png");
    position: absolute;
    left: 1200px;
    top: -163px;
    width: 913px;
    height: 242px;
    z-index: 100;
}

.Ruler02 {
    background-image: url("../../../assets/images/ruler_01 copy.png");
    position: absolute;
    top: -163px;
    width: 913px;
    height: 242px;
    z-index: 98;
}

.Divider {
    background-image: url("../../../assets/images/divider.png");
    position: absolute;
    top: -491px;
    left: 282px;
    width: 415px;
    height: 436px;
    z-index: 99;
}

.Pensil {
    background-image: url("../../../assets/images/pensil_large_eraser.png");
    position: absolute;
    top: -424px;
    left: 1300px;
    width: 376px;
    height: 445px;
    z-index: 101;
}

.Pin {
    background-image: url("../../../assets/images/Pin.png");
    position: absolute;
    left: 368px;
    top: -292px;
    width: 1140px;
    height: 535px;
    z-index: 102;
}

.Info {
    position: absolute;
    left: 454px;
    top: 250px;
    color: white;
    font-size: 28px;
    line-height: 0.9;
}

.Form {
    position: absolute;
    left: 1000px;
    top: 250px;
    color: white;
    font-size: 28px;
}

input {
    margin-right: 20px;
    width: 300px;
    height: 50px;
    border-radius: 10px;
}

textarea {
    width: 630px;
    height: 160px;
    margin-top: 10px;
    border-radius: 10px;
    padding-top: 20px;
    font-size: 16px;
    color: gray;
}