.About {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 945px;
    position: absolute;
    top: 1000px;
    left: 500px;
}

.About h1 {
    font-size: 48px;
    font-family: "Sarabun";
    color: rgb(116, 144, 59);
    font-weight: bold;
}

.About p {
    font-size: 17px;
    font-family: "Sarabun";
    color: rgb(102, 97, 87);
    font-weight: bold;
    z-index: 23;
}

.Team {
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 1350px;
    left: 500px;
    width: 945px;
}

    .Team h1 {
        position: absolute;
        top: -122px;
        left: 416px;
        font-size: 48px;
        font-family: "Sarabun";
        color: rgb(116, 144, 59);
    }

.Member1, .Member2, .Member3 {
    display: flex;
    flex-direction: column;
}


img {
    width: 130px;
}
