.Header {
    background-image: url("../../assets/images/white-interior-design-3d-rendering-P9Z4DRX.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 190vh;
}

.Header h1 {
    font-size: 60px;
    font-family: "Sarabun";
    color: rgb(115, 144, 59);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 1100px;
    top: 304px;
    width: 299px;
    height: 202px;
    z-index: 10;

}

.Nav {
    background-color: rgb(255, 255, 255);
    position: absolute;
    width: 50%;
    margin: 5vh 50vh;
    border-radius: 50px;
    overflow: hidden;
    overflow: hidden;
    display: flex;
    justify-content: space-around;

}

.Nav img {
    padding: 10px;
}

.Nav a {
    color: inherit; /* blue colors for links too */
    text-decoration: inherit; /* no underline */
    font-size: 18px;
    font-family: "Sarabun";  
    padding: 10px;
    z-index: 14;

}

.Nav a:hover {
    color: rgb(115, 144, 59);
}

.NavItems {
    padding: 20px;
}

.Ruler1 {
    background-image: url("../../assets/images/ruler_01.png");
    position: absolute;
    left: -44px;
    top: 843px;
    width: 913px;
    height: 242px;
    z-index: 6;
}

.Ruler2 {
    background-image: url("../../assets/images/ruler_01 copy.png");
    position: absolute;
    left: 1300px;
    top: 843px;
    width: 913px;
    height: 242px;
    z-index: 5;
}


.Footer {
    background-image: url("../../assets/images/interior-of-the-lobby-PQSCE4A.png");
    position: absolute;
    left: 0px;
    top: 3451px;
    width: 1970px;
    height: 876px;
    z-index: 96;
}

.Ruler01 {
    background-image: url("../../assets/images/ruler_01.png");
    position: absolute;
    left: 1200px;
    top: -163px;
    width: 913px;
    height: 242px;
    z-index: 100;
}
.Ruler02 {
    background-image: url("../../assets/images/ruler_01 copy.png");
    position: absolute;
    top: -163px;
    width: 913px;
    height: 242px;
    z-index: 98;
}

.Divider {
    background-image: url("../../assets/images/divider.png");
    position: absolute;
    top: -491px;
    left: 282px;
    width: 415px;
    height: 436px;
    z-index: 99;
}

.Pensil {
    background-image: url("../../assets/images/pensil_large_eraser.png");
    position: absolute;
    top: -424px;
    left: 1300px;
    width: 376px;
    height: 445px;
    z-index: 101;
}

.Pin {
    background-image: url("../../assets/images/Pin.png");
    position: absolute;
    left: 368px;
    top: -292px;
    width: 1140px;
    height: 535px;
    z-index: 102;
}
