

.Main {
    width: 945px;
    display: flex;
    flex-direction: column;
    align-items: center;

}

.Main h1 {
    font-size: 48px;
    font-family: "Sarabun";
    color: rgb(116, 144, 59);
}

video {
    position: absolute;
    left: 500px;
    top: 880px;
    width: 945px;
    height: 530px;
    z-index: 21;
}

