.Header {
    background-image: url("../../../assets/images/uslugehead.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 600px;
}


@media(max-width: 500px) {
    .Header {
        width: 900px;
    }
}