.Header {
    background-image: url("../../../assets/images/pocetna.png");
    background-repeat: no-repeat;
    width: 100%;
    height: 190vh;
}

@media(max-width: 400px) {
    .Header {
        background-image: url("../../../assets/images/pocetnatel.png");
        background-repeat: no-repeat;
        height: 240px;
    }
   
}

.Header h1 {
    font-size: 60px;
    font-family: "Sarabun";
    color: rgb(115, 144, 59);
    font-weight: bold;
    line-height: 1.2;
    text-align: right;
    position: absolute;
    left: 1100px;
    top: 304px;
    width: 299px;
    height: 202px;
    z-index: 10;
}

@media(max-width: 500px) {
    .Header {
        width: 100%;
    }
}