.Content {
    width: 945px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 1500px;
    left: 422px;
    z-index: 28;
}

@media(max-width: 520px) {
    .Content {
        width: 500px;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-left: -50px;
        margin-top: 125px;
        z-index: 28;
    }
}

.Content h1 {
    font-weight: bold;
    line-height: 0.5;
    top: -152px;
}

.Content button {
    width: 300px;
    border: 1px solid rgb(116, 144, 59);
    border-radius: 10px;
    padding: 20px;
    font-size: 17px;
    font-family: "Sarabun";
    color: rgb(116, 144, 59);
    background-color: white;
}
